.catalog-block
  margin: 55px 0

.game
  .buy
    position: absolute !important
    background-color: $bg-color-body
    padding: 3px 4px
    color: $font-color
  .game-cover
    img
      border-radius: 10px
      height: 350px
      object-fit: cover
      &:hover
        cursor: pointer
        filter: blur(2px)
        transition: 500ms ease-in-out
  .game-description
    margin: 8px 0
    .game-title,
    .game-price
      font-size: 1em
      font-weight: $font-strong
      text-transform: uppercase
      letter-spacing: 1px
      color: $font-color
    .game-company
      font-size: 0.6em
      font-weight: $font-strong
      text-transform: uppercase
      letter-spacing: 1px
      color: $font-color-preview
    .game-price
      margin: 5px 0 0 0
      .discount
        background-color: $discount
        font-size: 0.6em
        padding: 3px
        border-radius: 3px