.filter
  margin: 25px 0
  select
    background: $bg-color-body !important
    color: $font-color !important
    border: 1px solid $font-color !important
    option
      font-size: 1.3em

.catalog-sort-visible
  margin: 25px 0
  .sort-visible
    padding: 8px 6px
    background-color: $font-color-preview
    border-radius: 5px
    font-size: 0.8em
    span
      margin: 0 0 0 5px
      cursor: pointer
  nav
    ul
      display: flex
      justify-content: flex-start
      align-items: center
    li
      margin: 0 15px 0 0
      a
        color: $font-color-preview !important
        font-size: 0.7em
        text-decoration: underline
        &:hover
          text-decoration: none
          color: $font-color-preview !important