<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="GenreControllerTest">
            <file>Unit/Controllers/GenreControllerTest.php</file>
            <directory>Unit/Controllers</directory>
        </testsuite>
        <testsuite name="CompanyControllerTest">
            <file>Unit/Controllers/CompanyControllerTest.php</file>
            <directory>Unit/Controllers</directory>
        </testsuite>
        <testsuite name="HomeControllerTest">
            <file>Unit/Controllers/HomeControllerTest.php</file>
            <directory>Unit/Controllers</directory>
        </testsuite>
        <testsuite name="GameTaxControllerTest">
            <file>Unit/Controllers/GameTaxControllerTest.php</file>
            <directory>Unit/Controllers</directory>
        </testsuite>

        <testsuite name="GenreModelTest">
            <file>Unit/Model/GenreModelTest.php</file>
            <directory>Unit/Models</directory>
        </testsuite>
    </testsuites>
</phpunit>
