# СТАРТУЕМ
RewriteEngine On

AddDefaultCharset UTF-8

#RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
# Ну и все остальное можно как обычно направить
RewriteRule ^(.*)$ index.php?$1 [L,QSA]